/**
 * Copyright (C) 2014 Hisilicon Ltd.
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License version 2 as
 *  publishhed by the Free Software Foundation.
 */

/dts-v1/;
/include/ "fastboot.dtsi"
/include/ "NEXT_TUCL_V3_config.dtsi"
/include/ "NEXT_TUCL_V3E_pin.dtsi"
/include/ "NEXT_TUCL_V3E_modem_pin.dtsi"
/include/ "NEXT_TUCL_V3E_hi6402_pin.dtsi"

/ {
	hisi,boardid = <3 5 0 4>;
	hisi,boardname = "NEXT_TUCL_V3E";
	hisi,modem_id = <0x3C001800>;
	
	panel_lcd_jdi_NT35695_cut2_5 {
		lcd-bl-type = <4>;
	};

	panel_lcd_jdi_NT35695_cut3_1 {
		lcd-bl-type = <4>;
	};

	panel_lcd_lg_eR69006A {
		lcd-bl-type = <4>;
	};
	sensorhub{
		als_sensor:light{
			als1{
				als_phone_version = <10>;
			};
		};
	};

	amba {
		i2c4: i2c@FDF0D000 {
			pn547_nfc:nfc@28 {
				nfc_chip_type = "pn548";
				nfc_single_channel = "true";
			};
		};
		spi0: spi@ffd70000 {
				fingerprint: fingerprint@2 {
						fingerprint,reset_gpio = <112>;

						pinctrl-0 = <&gpio112_pmx_func &gpio004_hi6402_pinctrl_func &gpio112_cfg_func>;
						pinctrl-1 = <&gpio112_pmx_idle &gpio004_hi6402_pinctrl_idle &gpio112_cfg_idle>;
				};
		};
	};
};
