config LOAD_IMAGE
	bool "Support HiSilicon load modem/dsp image"
	default n
	help
	  This driver supports HiSilicon LOAD IMAGE
	  
config MODEMID_HI3650
	bool "Support HiSilicon GET MODEM ID"
	default n
	help
	  This driver supports HiSilicon GET MODEM ID
	  
config MODEMID_HI6250
	bool "Support HiSilicon GET MODEM ID"
	default n
	help
	  This driver supports HiSilicon GET MODEM ID
	  	   

